<h1>Hello, <%= @name %></h1>
<p>Current time is: <%= formatted_time(@time) %></p>
<p>Unformatted time is: <%= @time %></p>
<p>Visit counter: <%= @counter %></p>

<p><%= link_to "Google", "http://www.google.com" %></p>
<p><%= link_to "Hello", greeter_hello_url %></p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>
